<%- contentFor('content') %>

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">تعديل العضو <%= user.name %> </h3>
            </div>
            <!-- form start -->
            <form method="post" action="/admin/users/<%= user.id %>/edit?_method=put">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <!-- /.box-body -->
                <%-include('./_form.ejs')%>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>